<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="categorizedSettings" type="GSF.Configuration.CategorizedSettingsSection, GSF.Core"/>
  </configSections>
  <categorizedSettings>
    <systemSettings>
      <add name="ConnectionString" value="Data Source=localhost; Initial Catalog=openXDA; Integrated Security=SSPI" description="Defines the connection to the openXDA database." encrypted="false" />
    </systemSettings>
    <remotingServer>
      <add name="ConfigurationString" value="Port=12623" description="Data required by the server to initialize."
        encrypted="false" />
      <add name="MaxClientConnections" value="-1" description="Maximum number of clients that can connect to the server."
        encrypted="false" />
      <add name="SendBufferSize" value="8192" description="Size of the buffer used by the server for sending data to the clients."
        encrypted="false" />
      <add name="ReceiveBufferSize" value="8192" description="Size of the buffer used by the server for receiving data from the clients."
        encrypted="false" />
      <add name="PayloadAware" value="True" description="True if payload boundaries are to be preserved during transmission, otherwise False."
        encrypted="false" />
      <add name="IntegratedSecurity" value="True" description="True if the client Windows account credentials are used for authentication, otherwise False."
        encrypted="false" />
      <add name="AllowDualStackSocket" value="True" description="True if dual-mode socket is allowed when IP address is IPv6, otherwise False."
        encrypted="false" />
      <add name="MaxSendQueueSize" value="-1" description="The maximum size of the send queue before payloads are dumped from the queue."
        encrypted="false" />
    </remotingServer>
  </categorizedSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
  </startup>
</configuration>
